<a href="https://colab.research.google.com/github/ricardobizerra/data-analysis/blob/main/predicting_titanic's_survivors.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [157]:
import pandas as pd
import numpy as np
import torch

In [158]:
df = pd.read_csv('train.csv')
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [159]:
# columns that are not relevant for the analysis are removed
df.drop(['PassengerId', 'Name', 'Ticket', 'Cabin'], axis='columns', inplace=True)
df.head()

   Survived  Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0         0       3    male  22.0      1      0   7.2500        S
1         1       1  female  38.0      1      0  71.2833        C
2         1       3  female  26.0      0      0   7.9250        S
3         1       1  female  35.0      1      0  53.1000        S
4         0       3    male  35.0      0      0   8.0500        S

In [160]:
df.size

7128

In [161]:
# people that were 35
df[df['Age'] == 35]

     Survived  Pclass     Sex   Age  SibSp  Parch      Fare Embarked
3           1       1  female  35.0      1      0   53.1000        S
4           0       3    male  35.0      0      0    8.0500        S
20          0       2    male  35.0      0      0   26.0000        S
211         1       2  female  35.0      0      0   21.0000        S
230         1       1  female  35.0      1      0   83.4750        S
258         1       1  female  35.0      0      0  512.3292        C
269         1       1  female  35.0      0      0  135.6333        S
279         1       3  female  35.0      1      1   20.2500        S
363         0       3    male  35.0      0      0    7.0500        S
383         1       1  female  35.0      1      0   52.0000        S
486         1       1  female  35.0      1      0   90.0000        S
590         0       3    male  35.0      0      0    7.1250        S
604         1       1    male  35.0      0      0   26.5500        C
614         0       3    male  35.0      0      0    8.0500        S
701         1       1    male  35.0      0      0   26.2875        S
737         1       1    male  35.0      0      0  512.3292        C
812         0       2    male  35.0      0      0   10.5000        S
847         0       3    male  35.0      0      0    7.8958        C

In [162]:
# removing empty or NaN data
df.dropna(inplace=True)
df = df[df['Fare'] != 0]
df.size

5640

In [163]:
df['AgeNorm'] = np.log10(df['Age'])
df['FareNorm'] = np.log10(df['Fare'])
df

,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked,AgeNorm,FareNorm
0,0,3,male,22.0,1,0,7.2500,S,1.342423,0.860338
1,1,1,female,38.0,1,0,71.2833,C,1.579784,1.852988
2,1,3,female,26.0,0,0,7.9250,S,1.414973,0.898999
3,1,1,female,35.0,1,0,53.1000,S,1.544068,1.725095
4,0,3,male,35.0,0,0,8.0500,S,1.544068,0.905796
...,...,...,...,...,...,...,...,...,...,...
885,0,3,female,39.0,0,5,29.1250,Q,1.591065,1.464266
886,0,2,male,27.0,0,0,13.0000,S,1.431364,1.113943
887,1,1,female,19.0,0,0,30.0000,S,1.278754,1.477121
889,1,1,male,26.0,0,0,30.0000,C,1.414973,1.477121
890,0,3,male,32.0,0,0,7.7500,Q,1.505150,0.889302

In [164]:
# data normalization, in order to train a model
df['FirstClass'] = np.where(df['Pclass'] == 1, 1, 0)
df['SecondClass'] = np.where(df['Pclass'] == 2, 1, 0)

df['EmbarkedC'] = np.where(df['Embarked'] == 'C', 1, 0)
df['EmbarkedQ'] = np.where(df['Embarked'] == 'Q', 1, 0)

df['SexNorm'] = np.where(df['Sex'] == 'female', 1, 0)

df['Constant'] = 1

df

,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked,AgeNorm,FareNorm,FirstClass,SecondClass,EmbarkedC,EmbarkedQ,SexNorm,Constant
0,0,3,male,22.0,1,0,7.2500,S,1.342423,0.860338,0,0,0,0,0,1
1,1,1,female,38.0,1,0,71.2833,C,1.579784,1.852988,1,0,1,0,1,1
2,1,3,female,26.0,0,0,7.9250,S,1.414973,0.898999,0,0,0,0,1,1
3,1,1,female,35.0,1,0,53.1000,S,1.544068,1.725095,1,0,0,0,1,1
4,0,3,male,35.0,0,0,8.0500,S,1.544068,0.905796,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
885,0,3,female,39.0,0,5,29.1250,Q,1.591065,1.464266,0,0,0,1,1,1
886,0,2,male,27.0,0,0,13.0000,S,1.431364,1.113943,0,1,0,0,0,1
887,1,1,female,19.0,0,0,30.0000,S,1.278754,1.477121,1,0,0,0,1,1
889,1,1,male,26.0,0,0,30.0000,C,1.414973,1.477121,1,0,1,0,0,1
890,0,3,male,32.0,0,0,7.7500,Q,1.505150,0.889302,0,0,0,1,0,1

In [165]:
coeff = torch.randn(9).double()
coeff

tensor([-0.2396,  1.9070,  1.1379,  0.3845,  1.9192,  1.9854, -1.4033, -0.9057,
         1.3863], dtype=torch.float64)

In [166]:
data = torch.tensor(df[['AgeNorm','SibSp','Parch','FareNorm','FirstClass','SecondClass','EmbarkedC','EmbarkedQ', 'Constant']].values)
data

tensor([[1.3424, 1.0000, 0.0000,  ..., 0.0000, 0.0000, 1.0000],
        [1.5798, 1.0000, 0.0000,  ..., 1.0000, 0.0000, 1.0000],
        [1.4150, 0.0000, 0.0000,  ..., 0.0000, 0.0000, 1.0000],
        ...,
        [1.2788, 0.0000, 0.0000,  ..., 0.0000, 0.0000, 1.0000],
        [1.4150, 0.0000, 0.0000,  ..., 1.0000, 0.0000, 1.0000],
        [1.5051, 0.0000, 0.0000,  ..., 0.0000, 1.0000, 1.0000]],
       dtype=torch.float64)

In [167]:
(data * coeff)[0].sum()

tensor(3.3024, dtype=torch.float64)

In [168]:
preds = data @ coeff.T
data[preds.isinf()]

tensor([], size=(0, 9), dtype=torch.float64)

In [169]:
labels = torch.tensor(df['Survived'].values)
labels.shape

torch.Size([705])

In [170]:
loss = ((preds-labels)**2).sum()
loss

tensor(12562.0911, dtype=torch.float64)

In [171]:
coeff = torch.randn(9).double().requires_grad_()
coeff

tensor([-0.2098,  1.0770,  0.1150,  0.0118,  0.7932, -0.8622, -0.2434, -0.6643,
         0.0668], dtype=torch.float64, requires_grad=True)

In [172]:
preds = data @ coeff.T
loss = ((preds-labels)**2).sum()
loss.backward()

In [173]:
coeff.grad

with torch.no_grad():
  coeff -= coeff.grad * 0.0001
  coeff.grad.zero_()

In [174]:
# Using Gradient Descent
for i in range(10):
  preds = data @ coeff.T
  labels = torch.tensor(df['Survived'].values)
  loss = ((preds-labels)**2).sum()
  loss.backward(retain_graph=True)

  with torch.no_grad():
    coeff -= coeff.grad * 0.0001
    coeff.grad.zero_()

In [175]:
labels

tensor([0, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 1, 0,
        0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0,
        1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0,
        0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        1, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0,
        0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0,
        1, 1, 1, 0, 0, 1, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 1,
        0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0,
        0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1,
        0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 1, 1, 1,
        0, 1, 1, 1, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 1, 1, 0, 1, 1, 1, 0, 0, 0,
        0, 1, 1, 0, 1, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0,
        1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1,
        0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0,
        1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 0, 0, 1,
        1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0,
        0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1,
        0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 1, 1, 0, 0, 1, 0, 0, 1, 0, 1,
        1, 0, 1, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1,
        0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0,
        0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1,
        1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0,
        0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0,
        0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1,
        0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0,
        1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0,
        0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 1, 1, 1, 0, 1, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0,
        1, 0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 1,
        0, 0, 0, 0, 0, 0, 1, 1, 0])

In [176]:
preds

tensor([ 0.5493,  1.0591,  0.2355,  1.2528,  0.2378,  0.9398,  1.1100,  0.1113,
        -0.1860,  0.4810,  0.9339,  0.2337,  0.2484,  0.2308, -0.3008,  0.7882,
         0.5606, -0.2994, -0.3063, -0.4093,  0.9314,  1.1202,  0.2482,  1.7679,
         0.7344, -0.3035,  1.0582,  1.2539,  0.2340,  0.8725,  0.3530,  0.5563,
         0.0125, -0.3218, -0.4077,  0.5565,  1.4412,  0.2337,  1.0616,  0.0151,
         0.6819, -0.3119,  0.0381, -0.1248,  1.6982,  0.0362,  1.2590,  1.0540,
        -0.3095,  0.2334,  1.3684,  0.8682, -0.3088,  1.7010, -0.2932,  0.3600,
         0.2559,  0.2348, -0.4535,  0.2409,  0.2355,  0.2380,  0.9341, -0.3134,
         1.1917,  0.3704,  1.7693,  0.2350,  0.2364,  0.2335,  1.2562,  0.4329,
         0.2406,  0.7408,  0.6745, -0.3647,  0.0163,  0.2360,  0.8729,  0.2381,
         0.8699,  0.2360,  0.2336,  0.2382,  0.9388,  0.3557,  0.2344,  0.5515,
         0.0410,  0.2339, -0.3983,  0.0131,  0.6879,  1.3659,  0.3387, -0.1798,
        -0.3066,  0.8798,  0.3519,  0.2339,  0.2383,  0.0400,  0.2324,  0.5615,
         0.0151, -0.3086, -0.5049,  0.7979,  1.2532,  0.2334,  0.7408,  0.2340,
         0.5575, -0.4092, -0.3122, -0.0485,  0.2356,  0.7460, -0.4268, -0.3048,
        -0.3037,  1.2516,  0.2412,  0.1168,  0.6800, -0.4092,  0.2367,  0.1823,
        -0.3033,  0.2353,  0.2332,  1.4270,  0.1092,  0.3122,  0.2549,  0.9365,
         0.7933,  0.4669,  0.2339,  0.7379,  0.4848,  0.7364, -0.3072,  1.3770,
         0.2464,  0.1039,  0.9320, -0.1437,  0.2378, -0.3068, -0.3106,  0.5490,
        -0.0653,  0.7351,  0.7532,  0.1757, -0.3089,  0.2378,  0.2355,  0.0415,
         0.2329,  0.1555,  0.5596,  0.0466, -0.4091,  0.7355,  0.2337, -0.3015,
         0.2334, -0.3072,  1.0620,  0.2357,  0.0182,  0.7425, -0.3093,  0.2321,
        -0.3080,  0.2406,  1.2585,  0.2358, -0.3126,  0.2329, -0.3110,  1.2572,
         0.2361, -0.3019,  1.3727, -0.3109,  0.0182, -0.4378, -0.3126, -0.3071,
        -0.3095,  0.2332,  0.0384,  0.9347,  0.2350, -0.4355,  1.1893,  0.0197,
         0.4910,  0.9344,  0.5593,  0.1201, -0.0823,  0.9404,  0.7615, -0.3606,
         1.3689,  1.1958, -0.3079,  1.4473,  0.5509,  0.8870,  0.9459, -0.3649,
         0.6707,  1.2608,  0.2393,  0.7974,  0.4988, -0.3989,  0.2359,  0.2336,
         0.2333,  0.0409,  0.2383,  0.2342, -0.3048, -0.4068,  0.9385,  1.0563,
        -0.5032,  0.2359,  0.2348,  0.0367,  1.1142,  0.6933,  1.1085,  1.0572,
        -0.1826,  0.7392,  0.7413,  1.2544, -0.0495,  0.2360, -0.0457,  0.2354,
         0.0137, -0.3022,  0.8192,  1.0017,  0.2334,  0.2357, -0.9485, -0.0497,
         0.7489,  0.2394, -0.3059,  0.4980,  0.6710,  0.9328,  0.8839,  0.8717,
         1.2536,  0.7498,  0.2396,  0.9348, -0.0683,  1.7696, -0.3077, -0.3086,
        -0.3059, -0.3089, -0.3051,  0.4784,  0.2398,  0.2360,  0.2855,  0.5589,
         0.2378,  0.8700, -0.3055,  0.3113, -0.1814, -0.0157,  0.2365,  0.2357,
         1.0629,  0.7395,  1.0536,  0.5468,  0.2333,  0.7453,  1.1130,  0.2334,
         0.6234,  0.0298,  0.2330,  0.7550, -0.1067,  0.2370,  1.2526, -0.2943,
         1.6806, -0.3059, -0.5093,  1.1332,  0.2337,  0.8679,  1.0598,  0.1144,
         0.2341,  0.2367, -0.2974, -0.3112, -0.3080,  0.2384,  0.2356,  0.5519,
         0.5586,  0.2344,  0.0142,  0.2402, -0.0685,  0.2337,  0.6166,  0.2393,
        -0.0454, -0.4387, -0.3072,  0.1115, -0.4072,  0.2362,  0.4938,  0.4939,
         0.0149, -0.3039,  0.2371,  0.9286,  0.0178,  0.2313,  1.2559,  1.1262,
         0.7522,  0.1350,  1.0173, -0.3090, -0.0454,  0.2353,  0.5509, -0.3077,
         0.7975, -0.3733,  0.9300,  0.6028,  0.9344, -0.1103,  0.7323,  1.0631,
         0.0391,  0.9347, -0.3055,  0.9325,  0.2376,  0.9359, -0.3038,  0.2371,
         0.9336,  0.5889,  0.2391, -0.1110, -0.5058,  0.2363,  0.0142,  0.5511,
         0.2337,  0.1570,  1.6968,  0.2404,  0.2438,  1.0584,  1.2579,  0.7378,
         0.2367,  0.4865,  0.2330,  0.9348,  0.7442,  0.2340,  1.0625,  1.1327,
         0.2347,  0.2332, -0.4071,  0.2399,  0.9358,  1.0577, -0.4275,  0.2461,
         0.2544, -0.4048,  0.9303,  1.0599,  0.2343,  0.9347, -0.3084,  0.0167,
         0.2369,  0.9412,  0.2342,  0.6784, -0.4023, -0.3055,  0.2384,  0.2577,
        -0.0683,  0.2864,  0.2374, -0.4388,  0.9320,  0.7453,  0.6079,  0.8122,
         1.3769,  1.3784,  0.0158,  1.0649,  0.9344,  0.0120,  0.4985, -0.0548,
         0.6138, -0.3013,  0.0362,  0.2341,  0.9344,  1.0551,  1.1937,  0.5613,
         0.2386, -0.3074,  0.8775,  0.2331, -0.0097,  0.2369, -0.3040,  1.5715,
         0.9303,  0.2321,  0.2390, -0.3063,  1.2541,  0.2370, -0.0484,  0.9997,
        -0.2962,  0.7372,  0.8082, -0.3026,  0.9996,  0.2344,  0.2366,  1.0623,
         0.2389,  0.0169,  0.5007,  1.0588,  0.2662,  0.2395,  0.7330,  0.5603,
         0.2365,  0.9296, -0.3072,  0.9481,  0.2484,  0.2378, -0.1051,  0.4953,
         0.5582,  0.2566, -0.3103,  0.3603,  1.2540,  0.2951,  0.2338,  0.2407,
         0.9362, -0.9438,  0.9368,  0.2354,  0.9374,  0.2393,  0.7337,  1.0599,
        -0.3077,  0.2370, -0.0481, -0.0649,  0.2335,  0.7395,  1.0489,  0.5889,
         1.0615,  0.2331,  0.7393,  0.2341, -0.3693,  0.2345, -0.4096,  0.3397,
        -0.1453, -0.3092,  0.6230,  1.5802,  0.0406,  0.9320,  0.2373,  0.5495,
         0.3418, -0.3086,  0.2393, -0.0425,  1.2517, -0.3031, -0.3070,  0.2326,
         0.2352,  0.2349,  0.1892,  0.6979,  0.7413,  0.2350,  1.7000, -0.0395,
        -0.3063,  1.4463,  0.2356,  0.2326,  0.8801,  1.2526, -0.0342,  0.0371,
         0.9341, -0.3028,  0.2395,  1.0013,  0.2386,  1.0648,  0.9301, -0.0225,
        -0.4059,  0.5513, -0.2986, -0.3039,  0.9314,  0.9436,  0.7363,  1.2549,
         0.2380, -0.3032,  0.2328,  0.7543, -0.3101,  0.2370, -0.3739,  0.5471,
        -0.3063, -0.3035,  1.2509,  0.2344,  0.6452,  0.0140,  0.5511,  0.9488,
         0.0403, -0.3092, -0.3092,  0.2430,  0.3785,  0.7615,  1.2568,  1.2555,
         0.5576,  0.2368,  1.1968,  0.4930, -0.3072,  1.2483, -0.4043, -0.0644,
         0.1652,  0.2390,  0.2345, -0.1000, -0.0820,  0.2358, -0.3122,  0.2376,
         0.9411,  0.2378,  0.0355,  1.1332,  0.2317,  1.2593, -0.4044,  0.2375,
         0.2366,  0.2399, -0.3046, -0.1730,  0.2325,  0.2277,  0.8878,  0.0323,
         1.2482,  0.9300,  0.2340,  0.2343,  0.2322,  0.7984,  0.4090,  0.7456,
        -0.3052,  0.2351, -0.3053,  0.9324,  0.2376,  0.0385,  0.4993, -0.3063,
        -0.0481,  1.1245, -0.0551,  0.2345,  0.2366,  0.2326, -0.3053,  1.2524,
         0.2354,  0.2492, -0.3082,  1.3740,  0.2368,  0.2346, -0.2420,  0.2372,
         1.0607,  1.1973,  0.2366,  0.1763,  1.4320, -0.6469,  0.3560, -0.0779,
         0.2345,  0.2332,  0.9969,  0.2348,  0.2559,  0.2335, -0.3139,  0.7334,
         0.0384,  0.2332,  0.2385,  0.0404, -0.3626,  1.3710,  0.2429,  0.2889,
         0.8644,  0.0182,  0.1705,  1.2017,  0.9330, -0.1453,  0.8762,  0.0049,
         0.9323, -0.3089, -0.3048, -0.1886,  0.9355,  0.4771,  0.2354,  1.1910,
         0.9137,  0.2410, -0.1831,  0.0334,  0.2356,  0.2331,  0.6836, -0.3657,
         0.2372,  0.2370, -0.3098,  0.2340, -0.7091, -0.3080,  0.9269,  0.7320,
        -0.4041], dtype=torch.float64, grad_fn=<MvBackward0>)